**/bin/
**/obj/
**/node_modules/
**/build/
**/.git
**/.vs
**/.vscode
**/dividends.db
**/finance.db
**/*.db-shm
**/*.db-wal
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/.env
**/README.md
**/__pycache__/
**/*.pyc
